.card:active {
  transform: scale(0.95);
}

.card:hover {
  transform: scale(1.10);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


